.advantages-section {
  /* position: absolute; */
  width: 320px;
  /* height: 1624px; */
  left: 0px;
  top: 0px;

  background-color: #84a178;
}

.advantages-text-1 {
  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;

  text-align: center;
  text-transform: uppercase;

  color: #fcfcfc;
}

.advantages-text-2 {
  /* font-family: 'Seymour One'; */
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #fcfcfc;
}
